
.bgImage{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background: url(/img/wallpapersden.com_synthwave-planet-retro-wave_1920x1080.jpg);
}

main>.container, 
main>.container-fluid {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.titleText{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 5em;
    font-weight: 700;
    color:coral;
    -webkit-text-stroke-width: 1px;
    -webkit-test-stroke-color: black;
}

.subtitleText{
    font-family: 'Coda', cursive;
    color: white;
}

.minHeight {
    min-height: 80vh;
    
}
